@import 'css/base.css';
@import 'css/animations.css';
@import 'css/header.css';
@import 'css/auth.css';
@import 'css/stats.css';
@import 'css/table.css';
@import 'css/modals.css';
@import 'css/ui.css';